@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$warning: #fada5e;
@import "~bulma/bulma";

// #root {
//   font-family: 'Raleway', sans-serif;
// }

.text-overlay {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
}

figure.image {
  height: 20em;
  background-size: cover;
  background-position: center;
}

img {
  margin: 20px;
}

// .tinted {
//   filter: brightness(50%);
// }

.bar-show-img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bar-show-div {
  padding: 10px 0;
}

.bar-map-show {
  height: 80rem;
  width: 100%;
  // overflow: auto;
}

.bar-show-column {
  margin: 5rem 0;
}


// #show {
//   color: white;
//   z-index: 250;
//   position: absolute;
//   font-weight: 800;
// }

// ===============================CRAWL INDEX===================================
.flex-direction {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  display: flex;
}

.slider {
  align-items: center;
  overflow-x: scroll;
  width: 60%;
}

.carousel {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.header-crawl {
  justify-content: center;
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.center2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.created-crawls {
  height: 200px;
  width: 200px;
  background-size: cover;
}

.crawls {
  margin: 20px;
}

.hero {
  background-color: #efefef;
}

.margin {
  margin-bottom: 20px;
}

.margin1 {
  margin: 20px;
}

.user-image-home {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
}

.background {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1511276981/the-roof-at-public-hotel-new-york-city-ROOF1117.jpg?itok=4PTTAf3C');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sunset {
  font-family: 'Lobster', cursive;
  color: white !important;
  font-size: 80px !important;
}

.subtitle-header {
  color: white !important;
}

hr.thin {
  height: 1px;
  border: 0;
  color: white;
  background-color: #333;
  width: 100%;
}

.width {
  height: 500px;
  justify-content: center;
  display: flex;
}

.uploaded-user {
  width: 1310px;
  justify-content: space-around;
  display: flex;
  margin: 0;
}

.inline {
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
}

//===============================overlay========================================
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container2{
  padding: 1em 0;
  float: left;
  width: 100%;
}

.container2 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}
//
// .content-image{
//   width: 100%;
// }

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.title1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 20px;
}

.subtitle2 {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

//=================================FORMS=======================================
.input, .textarea {
  box-shadow: none;
  border: 2px solid white;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  align-items: center;
}


textarea.textarea, input.textarea, input.input {
  background-color: #495c68;

}

.register, .login, .crawl-form {
  background-color: #495c68;
}

.register-button, {
  height: 50px;
  border: 2px solid white;
  background-color: #495c68;
  color: white;
}

.title-font {
  font-weight: 500;
  letter-spacing: 0.15em;
  color: white;
}

label {
  color: white;
}

select.input {
  border: 2px solid white;
  border-radius: 4px !important;
  background-color: #495c68;
}

.section-height {
  height: 100vh;
}

.section-height-crawl {
  height: 200vh;
}

// ================================USER SHOW===================================

.user-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  margin: 20px;
}

.form {
  justify-content: center;
  display: flex;
}
.select-bar {
  margin-top: 20px;
  width: 55%;
}

.description {
  justify-content: center;
  display: flex;
}
.description-title {
  width: 700px;
  text-align: center;
}

.upvote {
  margin: 20px;
}

.small-margin {
  width: 18% !important;
}
//////// ******** CRAWL MAP ******* ///////////

// ============================ CRAWL SHOW ===================================

// .is-rounded {
//   border-radius: 100%;
//   height: 25px;
// }

// ============================ CRAWL MAP ===================================

.map {
  height: 50vh;
  @media screen and (max-width: 650px) {
    height:70vh;
  }
}

.bar-marker {
  width: 10px;
  height: 10px;
  font-size: 40px;
}

.mapboxgl-popup {
  max-width: 70px;
  font: 9pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

//===========CRAWL SLIDER =======



.crawl-display {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  & .slider-image {
    height: 700px;
    width: 1100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:hover {
      cursor: pointer;
    }
   }
}
